@media screen and (min-width: 1281px) {
    html {
        font-size: 16px
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 36px
    }
}

input[type=text]::-ms-clear {
    display: none;
}

body {
    font-size: 1rem
}

.container {
    max-width: 80rem
}

.zf-account-header {
    display: block;
    flex: 1 1 100%;
    margin: 25px;
    font-size: 1rem
}

.zf-account-notebook-tab {
    font-size: 1rem
}

.zf-card-container {
    max-height: 500px;
}

.zf-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px
}

.zf-notebook-desc {
    font-size: 0.9rem
}

.zf-sm-user-container {
    display: flex;
    margin: 10px;
    align-items: center;
    align-content: center
}

.zf-sm-user-container .zf-user-tag {
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer
}



.zf-text-block {
    padding-left: 10px;
    padding-right: 10px
}

.zf-notebook-friend-list {
    display: flex;
    margin: 10px
}

.zf-notebook-friend-list .zf-notebook-friend-pic {
    display: flex;
    flex-flow: column;
    margin: 10px
}

.zf-notebook-friend-list .zf-notebook-friend-pic img {
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid gray;
    border-radius: 20px
}

.zf-notebook-friend-list .zf-notebook-friend-pic figcaption {
    font-size: 1rem;
    text-align: center
}


.zf-notebook-header {
    margin: 25px;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    font-size: 1rem
}

.zf-notebook-header .zf-notebook-author-list {
    display: flex;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.zf-notebook-header .zf-notebook-author-list .zf-notebook-author-pic {
    display: flex;
    flex-flow: column;
    margin: 0.6rem;
}

.zf-notebook-header .zf-notebook-author-pic img {
    height: 4rem;
    width: 4rem;
    border: 1px solid gray;
    border-radius: 20px
}

.zf-notebook-header .zf-notebook-author-pic figcaption {
    font-size: 1rem;
    text-align: center
}

.zf-content-container {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
}

.zf-content-container .zf-content-mark {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    border: 1px solid gray;
    border-radius: 20px
}


.zf-content-container .zf-content-author {
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    display: flex
}

.zf-content-container .zf-content-date {
    font-size: 0.9rem;
    display: flex
}


.zf-content-container .zf-content-floor-num {
    font-size: 0.8rem
}

.zf-content-container .zf-content-body {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    border-left: 2px solid gray;
}

.zf-content-container .zf-content-body .zf-content-body-text {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    white-space: pre-line
}

.zf-content-container .zf-content-extra {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    padding-left: 15px;
    border-left: 2px solid gray;
    display: flex
}

.zf-content-container .zf-content-extra-label {
    font-size: 0.8rem;
    margin: 0.8rem
}

.zf-reply-box {
    margin: 30px;
}

.zf-reply-box .zf-reply-box-label {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.1rem;
    color: #404040;
    max-width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.zf-reply-box .zf-reply-text {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    max-width: 35rem;
    height: 120px
}

.zf-tab-list {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: lightblue;
    color: gray;
    list-style: none;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.zf-tab-list li {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer
}

.zf-tab-selected {
    background: white;
    color: black
}

.zf-sm-user-pic-list {
    margin-top: 0px;
    margin-bottom: 0px
}

.zf-sm-user-pic-list figure {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    margin-bottom: 0px
}

.zf-sm-user-pic-list img {
    width: 35px;
    height: 35px;
    border-radius: 5px
}

.zf-sm-user-pic-list figcaption {
    font-size: 0.8rem;
    color: darkblue
}

.zf-has-error {
    border: 1px solid darkred
}

.zf-error-lable {
    font-size: 1.7rem;
    color: red;
    margin-bottom: 4px
}

.zf-reward-box {
    display: flex;
    padding: 10px;
    flex-wrap: wrap
}
.zf-reward-box div {
    font-size: 3rem;
    margin: 10px;
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
}