<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/md5-js/md5.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script src="scripts/client.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/common.css">
    <style type="text/css">
        .selected {
            font-weight: bolder
        }
    </style>
</head>

<body style="background-image: url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN)">
    <div id="login">
        <div style="text-align: center; font-size: 60px; margin: 60px; padding: 30px;
            color: whitesmoke; background-color: rgba(255, 155, 155, 0.7)">
            链恋笔记本
        </div>
        <div id="login-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.7)">
                    <div class="modal-header">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link" v-bind:class="{'active':tab=='signin'}"
                                    v-on:click="switch_tab('signin')" href="#">登录</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" v-bind:class="{'active':tab=='signup'}"
                                    v-on:click="switch_tab('signup')" href="#">注册</a>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-form-label">用户名</div>
                            <div class="zf-error-lable" v-show="tab=='signup' && !v_check_syntax('account_id', id)">
                                不多于64字符的数字、字母、下划线组合，且开头为字母
                            </div>
                            <input type="text" class="form-control" maxlength="64" v-model="id">
                        </div>
                        <div class="form-group">
                            <div class="col-form-label">密码</div>
                            <input type="password" class="form-control" v-model="passwd">
                        </div>
                        <div class="form-group" v-if="tab=='signup'">
                            <div class="zf-error-lable" v-show="!check_password()">
                                两次输入的密码应该一样</div>
                            <div class="col-form-label">确认密码</div>
                            <input type="password" class="form-control" v-model="passwd_1">
                        </div>
                        <div class="form-group" v-if="tab=='signup'">
                            <div class="col-form-label">昵称</div>
                            <input type="text" class="form-control" v-model="name" maxlength="64">
                        </div>
                        <div v-if="tab=='signup'">
                            <div class="col-form-label">性别</div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" v-model="gender" value="1"
                                    checked>
                                <label class="form-check-label">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" v-model="gender" value="0">
                                <label class="form-check-label">女</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="confirm">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/login.js"></script>
</body>

</html>